@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom premium scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0; /* slate 200 */
  border-radius: 9999px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1; /* slate 300 */
}
